<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WareHousing</title>
</head>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}" type="application/javascript"></script>
<style>
    .custom-nav{
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
    }
</style>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <nav class="nav navbar-dark bg-dark custom-nav">
                    <a href="/" class="navbar-brand">Home</a>
                    <a href="/article" class="navbar-brand">Article</a>
                    <a href="/inventory" class="navbar-brand">Inventory</a>
                </nav>
                <h2>Upload product data</h2>
                <p th:text="${message}" th:if="${message != null && status != null  && status == 'OK'}" class="alert alert-primary"></p>
                <p th:text="${message}" th:if="${message != null && status != null && status != 'OK'}" class="alert alert-danger"></p>
                <div id="messageParent">
                    <div id="message"></div>
                </div>
                <form method="post" th:action="@{/inventory}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                        <input type="hidden" name="fileType" value="product">
                    </div>
                    <div style="margin-top: 10px;margin-bottom: 10px">
                        <button type="submit" style="width: 80px;" class="btn btn-primary">Upload</button>
                        <button type="button" style="width: 80px;" onclick="showProducts()" class="btn btn-primary">Push</button>
                    </div>
                </form>
                <div>
                    <div id="inventoryDivId">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>NAME</th>
                                <th>AMOUNT</th>
                                <th>AVAILABLE</th>
                                <th>NUMBER OF ORDER</th>
                                <th>OPERATION</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${result != null && !result.empty}" th:each="item : ${result}">
                                <td><span th:text="${item.getName()}">NAME</span></td>
                                <td><span th:text="${item.getAmount()}">AMOUNT</span></td>
                                <td>
                                    <label th:if="${item.isAvailable() == true}" class="badge bg-success">YES</label>
                                    <label th:if="${item.isAvailable() == false }" class="badge bg-danger">NO</label>
                                </td>
                                <td>
                                    <input id="countOrder" type="number" value="0" class="w-25 text-center">
                                </td>
                                <td>
                                    <button type="button" th:attr="data-name=${item.getName()},data-amount=${item.getAmount()},data-available=${item.isAvailable()}" onclick="buy(this)" style="width: 80px; padding: 3px !important;" class="btn btn-secondary">
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script>
    function showProducts(){
        $.ajax({
            url:"/inventory/loadingproducts",
            type:'get',
            success: function (callback){
                if (callback){
                    let json = JSON.parse(callback);
                    let status = json.status;
                    let product = json.result;
                    console.log(json);
                    if (status && status == 'OK' && product){
                        location.reload();
                    }
                }
            } ,
            error: function (result){
                console.log(result)
            }
        });
    }

    function buy(product){
        let orderCount  = $(product).parents('tr').find('input[id="countOrder"]').val();
        let name = $(product).attr('data-name');
        let amount = $(product).attr('data-amount');
        let available = $(product).attr('data-available');

        if (available && available === 'true'){
           if (parseInt(orderCount) <= parseInt(amount)){

               $.ajax({
                   url:'/inventory/buy',
                   type:'post',
                   data:{
                       'productName':name,
                       'orderCount':orderCount
                   },
                   success: function (callback){
                       if (callback){
                           let myJson = JSON.parse(callback);
                           let status = myJson.status;
                           let result = myJson.result;

                           if (status &&  status == 'OK'){
                               showMessage('Success!','success');
                               setTimeout(function (){
                                   location.reload();
                               },2000)
                           }else if (status != 'OK'){
                               showMessage(result,'error');
                           }
                       }
                   },
                   error: function (callback){
                   }
               });

           }else{
               showMessage('Number of order can not bigger than amount!','error');
           }
        }else{
            showMessage(name + ' not available!', 'error');
        }
    }


    function showMessage(txt,type){
        $('#message').remove()
        if (type && type == 'success'){
            $('#messageParent').append('<div id="message"><p class="alert alert-success">'+txt+'</p></div>')
        }else {
            $('#messageParent').append('<div id="message"><p class="alert alert-danger">'+txt+'</p></div>')
        }
    }
</script>
</html>