<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WareHousing</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style>
    .custom-nav{
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
    }
</style>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <nav class="nav navbar-dark bg-dark custom-nav">
                    <a href="/" class="navbar-brand">Home</a>
                    <a href="/inventory" class="navbar-brand">Inventory</a>
                    <a href="/product" class="navbar-brand">Product</a>
                </nav>
                <h2>Upload product data</h2>
                <p th:text="${message}" th:if="${message ne null }" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                        <input type="hidden" name="fileType" value="product">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>